<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Wallet Hub Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbc1e0">  <td>18/01/31 15:22:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SignUpPageTest.setUp()[pri:0, instance:com.wallethub.ui.test.SignUpPageTest@1d057a39]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/01/31 15:22:42</td>   <td>7320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SignUpPageTest.signUpTest()[pri:0, instance:com.wallethub.ui.test.SignUpPageTest@1d057a39]">signUpTest</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="bbc1e0">  <td>18/01/31 15:22:46</td>   <td>11994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SignUpPageTest.closeBrowser()[pri:0, instance:com.wallethub.ui.test.SignUpPageTest@1d057a39]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/01/31 15:22:46</td>   <td>12185</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EndToEndTest.setUp()[pri:0, instance:com.wallethub.ui.test.EndToEndTest@5c7fa833]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/01/31 15:22:51</td>   <td>16623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.endToEndTest()[pri:0, instance:com.wallethub.ui.test.EndToEndTest@5c7fa833]">endToEndTest</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="fb9068">  <td>18/01/31 15:23:14</td>   <td>39809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EndToEndTest.closeBrowser()[pri:0, instance:com.wallethub.ui.test.EndToEndTest@5c7fa833]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/01/31 15:23:14</td>   <td>40001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:com.wallethub.ui.test.LoginPageTest@26be92ad]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/01/31 15:23:20</td>   <td>45441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginPageTest()[pri:0, instance:com.wallethub.ui.test.LoginPageTest@26be92ad]">loginPageTest</td> 
  <td>main@1121647253</td>   <td></td> </tr>
<tr bgcolor="85796e">  <td>18/01/31 15:23:24</td>   <td>49447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:com.wallethub.ui.test.LoginPageTest@26be92ad]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1121647253</td>   <td></td> </tr>
</table>
