<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a09464">  <td>18/01/31 22:29:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EndToEndTest.setUp()[pri:0, instance:com.wallethub.ui.test.EndToEndTest@68be2bc2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@597255128</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/01/31 22:29:59</td>   <td>7623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EndToEndTest.endToEndTest()[pri:0, instance:com.wallethub.ui.test.EndToEndTest@68be2bc2]">endToEndTest</td> 
  <td>main@597255128</td>   <td></td> </tr>
<tr bgcolor="a09464">  <td>18/01/31 22:30:22</td>   <td>30870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EndToEndTest.closeBrowser()[pri:0, instance:com.wallethub.ui.test.EndToEndTest@68be2bc2]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@597255128</td>   <td></td> </tr>
</table>
